<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="content">
    <meta name="keywords" content="Việt Nam">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="images/graphics/favicon.svg"
        rel="shortcut icon" />
    <link rel="stylesheet" href="css/bootstrap.css" media="all" />
    <link rel="stylesheet" href="css/style.css" media="all" />
    <!-- build:head2 -->
    <!-- build:head -->
</head>

<body class="homepage">

    <div id="content" class="ldp-tata clearfix">
        <section id="navbar" class="topnav">
            <div class="container">
                <div class="flex flex_row">
                    <h1 class="logo" title="tata">
                        <a href="#"><img src="images/graphics/logo-white.svg" alt=""></a>
                    </h1>
                    <div class="right_menu">
                        <a href="javascript:;" id="vibeji-ham" class="item"><span></span> <span></span> <span></span></a>
                        <div class="flex flex_right">
                            <div class="main-menu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="#section_1">Home</a>
                                    </li>
                                    <li>
                                        <a href="#section_2">About us</a>
                                    </li>
                                    <li>
                                        <a href="#section_3">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="#section_4">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- <a class="btn-default" href="#">go to dApp</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- build:content -->
    </div>

    <div class="overlay-bg"></div>
    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <svg id="Arrow-Up-1" viewBox="0 0 32 32">
            <path d="M2.6 13.4l2.8 2.8 8.6-8.6v24.4h4v-24.4l8.6 8.6 2.8-2.8-13.4-13.4-13.4 13.4z"></path>
        </svg>
    </a>
    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/aos.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->

</body>

</html>